.top {
    position: relative;
}
.picture {
    width: 100%;
    object-fit: inherit;
    object-fit: 50% 50%;
}
.body {
    display: flex;
    position: relative;
    width: 100%;
}
.body > div {
    margin: 10px;
}
.left {
    width: 20%;
    background-color: gray;
}
ul > li {
    margin: 20px;
}
.right {
    width: 80%;
    background-color: lightgray;
}
a {
    text-decoration: none;
    color: black;
}
ul {
    list-style: none;
}